@import "config";

.button{
    display: block;

    width: 100%;
    max-width: 200px;
    padding: 10px 5px;
    margin: 20px 0;
  
    //font-family: $fonts;
    font-size: 1rem;
  
    color: #000;
    text-align: center;
    text-decoration: none;
  
    cursor: pointer;
    background-color: #999;
  
    border-color: #999;
    border-style: solid;
    border-radius: 15px;
  
}