@import "config";

.button {
  width: 100%;
  text-align: center;

  &__real {
    padding: 10px $gutter;
    margin: $gutter $gutter;

    font-family: $font-headers;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    text-align: center;
    cursor: pointer;
    border-style: solid;
    border-radius: 15px;
    transition:
      color $transition,
      background-color $transition,
      border-color $transition;
  }

  &__active {
    background-color: #2d2;
    border-color: #2d2;

    &:hover {
      background-color: #1a1;
      border-color: #1a1;
    }
  }

  &__inactive {
    background-color: #ccc;
    border-color: #ccc;
    &:hover {
      background-color: #999;
      border-color: #999;
    }
  }

}