@import "config";

.heading {
  font-family: $font-headers;
  color: #000;

  &__size1 {
    z-index: 1;
    font-size: 24px;
  }

  &__size2 {
    font-size: 36px;
    font-weight: bold;
  }
<<<<<<< HEAD

}
=======
}
>>>>>>> 135311fb8686a44f32a84ac467b6e08c1f42292b
