@import "config";

.heading {
  font-family: $font-headers;
  color: #000;

  &__size1 {
    z-index: 1;
    font-size: 1rem;
    font-weight: bold;
  }

  &__size2 {
    font-size: 2rem;
    font-weight: bold;
  }
}