@import "config";

.heading {
  font-family: $font-headers;
  color: #000;

<<<<<<< HEAD
  &__size1 {
    z-index: 1;
    font-size: 24px;
  }

  &__size2 {
    font-size: 36px;
    font-weight: bold;
  }
=======
    &__size1 {
      font-size: 24px;
      z-index: 1;
    }
>>>>>>> bb14eb11ef5de51fbcd4be5e9a8c606d932e28e4

}