@import "config";

.lecturebox {
    
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: left;

    @media(max-width: 800px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
  text-align: left;

  &__card {
    width: ($max-width + $gutter)/3 - $gutter;
    min-height: 300px;
    margin: $gutter/2;

      /*@media(max-width: 800px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /*margin: auto;
        margin-bottom: $gutter/2;
        flex-direction: column;
      }*/

      transition:
      color $transition,
      background-color $transition;

      &:hover {
        background-color: #999;
      }
    }
    background-color: #ccc;

    transition: color $transition, background-color $transition;

    &:hover {
      background-color: #999;
    }
  }

  &__image {
    width: 100%;
    height: 250px;
  }

  &__lower {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__heading {
    width: 90%;
  }

  &__checkmark {
    width: 10%;
  }
}
