@import "config";

.lecturebox {
    
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //text-align: center;


    &__card {
      width: ($max-width + $gutter)/3 - $gutter;
      align-items: baseline;
      margin: $gutter/2;
      display: table;
      max-height: 300px;
  
      background-color: #ccc;

      transition:
      color $transition,
      background-color $transition;

      &:hover {
        background-color: #999;
      }
    }



    &__image {
      width: 100%;
      height: auto;
      max-height: 250px;
    }

    &__fakeImage {
        width: 100%;
        height: 100%;
    }


}