@import "config";

.lecture-page {
  display: flex;
  max-width: ($max-width + $gutter) *2/3 + $gutter;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  &__youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin: $gutter;
  }

  &__text {
    width: 100%;
    margin: $gutter;
  }

  &__quote {
    width: 100%;
    margin-bottom: $gutter;
    background-color: #ccc;

    &__text {
      margin: $gutter;
    }
  }

  &__image {
    width: 100%;
    margin: $gutter;
  }

  &__heading {
    width: 100%;
    margin: $gutter;
    font-family: $font-headers;
  }

  &__list {
    margin: $gutter;
    margin-bottom: $gutter * 2;
    list-style-position: outside;
  }

  &__code {
    width: 100%;
    margin: $gutter;
    font-family: $font-headers;
    font-weight: bold;
  }

  &__link {
    width: 100%;
    margin: $gutter;
    font-family: $font-headers;
    text-align: center;
    cursor: pointer;
  }
}
