@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  font-size: 16px;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

h1 { /* stylelint-disable-line */
  margin: $gutter 0;
  color: #000;
  text-align: center;
  font-family: $font-headers;
}

main { /* stylelint-disable-line */
  display: flex;

  max-width: $max-width + $gutter;
  margin: 0 auto;


  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

p{
  color: #000;
  text-align: center;
}

a {
  text-decoration: none;
}



@import "button";
@import "lecturebox";
@import "heading";
@import "head";
// TODO import
