@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  font-size: 16px;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

h1 { /* stylelint-disable-line */
  z-index: 1;
  margin: $gutter 0;
  font-family: $font-headers;
  font-size: 3rem;
  color: #000;
  text-align: center;
}

main { /* stylelint-disable-line */
  display: flex;

  max-width: $max-width + $gutter;
  margin: 0 auto;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

p { /* stylelint-disable-line */
  color: #000;
  white-space: pre-wrap;
}

a { /* stylelint-disable-line */
  text-decoration: none;
}

iframe { /* stylelint-disable-line */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

li { /* stylelint-disable-line */
  margin-top: $gutter/2;
  margin-bottom: $gutter/2;
}

@import "button";
@import "lecturebox";
@import "heading";
@import "head";
@import "lecture-page";
